name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t resumate-ai:latest -f ./Dockerfile .
